body{
	font-family: Impact, Charcoal, sans-serif;
	background-color: #8CCFC7;
}

h1{
	color: #D40088;
	text-align: center;
	font: Arial;
	background-color: #FFF270;
}

#picture {
	height: 460px;
	width: 860px
	
}

li{
	color: #4C4C4C;
}

.color{
	color: #882201;
}

.bigger{
	height: 50px;
	width: auto;
	
}